{
    box-sizing;
    border-box;
}

header {
    
    font-family: Arial, Helvetica, sans-serif;
    text-align:left ;
    font-size: 40px;
    font-weight:normal ;
    text-transform: uppercase;
    color: rgb(78, 75, 75);
  
}

img {
    
    object-fit: stretch;

}

body {
    
    font-family: Arial, Helvetica, sans-serif;
    text-align:left ;
    font-size: 1rem;
    font-weight:normal ;
    color: rgb(78, 75, 75);
    
}

.QuizStyle {
    
    background-color: pink;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    color: rgb(78, 75, 75);

}

footer{




}
