css {
    box-sizing;
    border-box;
}

header {
    
    font-style:American Typewriter;
    color: black;
    text-align: center ;
    font-size: 40px;
    font-weight: bold;
 
}

body {
    margin-top: 7em;
    margin-right:40em;
    margin-left: 4em;
    background-image: url('https://content.web-repository.com/s/63655206626377835/uploads/Images/Dwight-Schrute-21163986_clipped_rev_1-7092912.png');
    background-position: left;
    background-repeat: no-repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align :center;
    font-size :1rem;;
    font-weight :normal;

}

.instructions {
    
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}

#hidden {
    display: none;
}
